#menu2 {
  width: 230px ;
  float: left ;
}
#menu2 ul {
  padding: 0 ;
  margin: 0 ;
  margin-left: 10px ;
  margin-right: 100px;
  list-style-type: none ;
  height: 2em ;
  border-left: 1px solid #fff ;
}

#menu2 li {
  height: 2em ;
  border-right: 1px solid #fff ;
  border-bottom: 1px solid #fff ;
  weight=100px;
  background: #ffcb05 url("/media/menu2.gif") repeat-x ;
}

#menu2 a {
  color: #fff ;
  font-size: 0.8em ;
  text-decoration: none ;
  display: block ;
  padding: 0.5em 0.5em 1em 0.5em ;
  font-weight: bold ;
}

#menu2 a:hover {
  background-color: #dc0067 ;
}
